/* Variables */
@font-face {
  font-family: Cardinal;
  src: url(../fonts/Cardinal.ttf);
}

@font-face {
  font-family: Imladris;
  src: url(../fonts/elvencommonspeak.ttf);
}

@font-face {
  font-family: Ringbearer;
  src: url(../fonts/RINGM__.TTF);
}

/* Mixins */
/* line 1, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
body {
  /* Nesting Example */
  background-color: #000;
  background-image: url("../img/back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 10, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  background-image: url("../img/container.jpg");
  border: 5px #ccc groove;
  font-family: serif;
  color: #f0eaea;
}

/* line 21, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
header {
  background-color: #111;
  border-bottom: 2px #ccc groove;
  padding-left: 300px;
  max-height: 132px;
}

/* line 28, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
header h3 {
  padding-left: 50px;
}

/* line 33, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
main {
  display: block;
  padding: 1%;
}

/* line 38, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.main {
  margin-left: 0;
}

/* line 42, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.top {
  margin-bottom: 65px;
}

/* line 46, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.mainNav {
  font-family: Cardinal, serif;
  color: #bd0000;
}

/* line 50, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.mainNav ul {
  margin: 0;
  padding: 0 15px 0 15px;
  text-align: center;
}

/* line 55, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.mainNav ul li {
  margin: 5% 0;
  padding: 28px 5px;
  list-style: none;
  background-image: url("../img/button.png");
  background-size: 100% 100%;
}

/* line 63, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.mainNav ul li a {
  text-decoration: none;
}

/* line 72, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.intro {
  background-color: #000;
}

/* line 80, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.subNav {
  padding-bottom: 15px;
}

/* line 83, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
#subNavToggle {
  display: none;
}

/* line 86, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.subNav ul {
  display: block;
}

/* line 89, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.articleHeader {
  margin: 0;
}

/* line 92, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.articleTitle {
  margin-bottom: 0;
}

/* line 95, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
.articleSubtitle {
  margin: 0 0 32px 0;
}

/* line 98, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
article img {
  margin-top: 15px;
}

/* line 101, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
article {
  background-color: #000;
  padding: 5px 15px 15px 15px;
  margin: 15px 0;
}

/* line 106, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
footer {
  background-color: #111;
  background-image: url("../img/footer.jpg");
  border-top: 2px #ccc groove;
  height: 50px;
  padding-top: 50px;
  text-align: center;
}

/* line 118, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
h1, h2 {
  font-family: Cardinal, serif;
  color: #bd0000;
}

/* line 121, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
h3 {
  font-family: Ringbearer, serif;
  color: #bd0000;
}

/* line 124, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
li {
  color: #bd0000;
}

/* line 127, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
a {
  color: #bd0000;
}

/* line 130, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
a:hover {
  color: rgba(189, 0, 0, 0.75);
}

/* line 133, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
a:visited {
  color: #bd0000;
}

/* line 139, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
#signature {
  font-family: Imladris, serif;
  color: #bd0000;
}

/* line 144, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
#mapRow {
  margin: 25px 0;
}

/* line 147, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_main.sass */
#mapRow div picture img {
  width: 100%;
}

@media (min-width: 877px) {
  /* line 2, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  header {
    background-image: url("../img/header.jpg");
  }
}

@media (max-width: 876px) {
  /* line 9, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav {
    margin: 0 auto;
  }
  /* line 12, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav ul {
    padding: 0;
  }
  /* line 15, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav ul li {
    float: left;
  }
  /* line 19, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNavCol {
    background-color: #0c0c0c;
  }
  /* line 22, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNavTop {
    height: 40px;
    background-color: #000;
  }
  /* line 26, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  #subNavToggle {
    display: inline;
  }
  /* line 29, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNav h4, #subNavToggle {
    float: right;
    margin: 0 15px;
  }
  /* line 33, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNav ul {
    display: none;
    list-style: none;
    list-style-position: inherit;
  }
  /* line 39, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNav li {
    float: left;
    width: 75px;
    margin: 6px;
    padding: 15px;
    background-color: #111;
    text-align: center;
  }
  /* line 47, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .subNav li a {
    font-size: 125%;
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: 701px) and (max-width: 876px) {
  /* line 57, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav ul li.innerLink {
    margin: 5% 25%;
  }
}

@media (min-width: 401px) and (max-width: 876px) {
  /* line 63, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  header {
    padding-left: 50px;
    background-image: url("../img/headerSmall.jpg");
  }
}

@media (max-width: 700px) {
  /* line 70, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav ul li {
    width: 20%;
    padding: 28px 0;
  }
  /* line 74, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .mainNav ul li.innerLink {
    margin: 5% 17%;
  }
  /* line 78, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  article img {
    max-width: 49%;
  }
}

@media (min-width: 433px) and (max-width: 600px) {
  /* line 84, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  header h3 {
    font-size: 75%;
  }
}

@media (max-width: 480px) {
  /* line 90, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .portraitCol {
    width: 0;
    margin-left: 0;
  }
  /* line 95, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  .intro {
    padding-left: 10%;
  }
}

@media (max-width: 432px) {
  /* line 101, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  header h3 {
    display: none;
  }
}

@media (max-width: 400px) {
  /* line 108, C:/Users/Andrew J. Kramer/WebstormProjects/eruditus12/ajkramer12.github.io/sass/_mediaQueries.sass */
  header {
    padding-left: 0;
    background-image: url("../img/headerTiny.jpg");
    text-align: center;
  }
}

/*# sourceMappingURL=../css/style.map */