@keyframes badgeCycleMain {
    0% {transform: translate(0,0)}
    1% {opacity: 1; transform: translate(200%,0) scale(1,1);}
    75% {filter: opacity(0%);}
    100% {filter: opacity(0%); transform: translate(0,100%) scale(0,0);}
}

#lordOfTheRingsBadge {
    opacity: 0;
    fill: #BBBBBB;
    animation: badgeCycleMain 6s 1.5s infinite;
}

#stargateBadge {
    opacity: 0;
    fill: #0000AA;
    animation: badgeCycleMain 6s 3s infinite;
}

#starWarsBadge {
    opacity: 0;
    fill: #990000;
    animation: badgeCycleMain 6s 4.5s infinite;
}

#assassinsCreedBadge {
    opacity: 0;
    fill: #571600;
    animation: badgeCycleMain 6s 6s infinite;
}

.mainNavButton{
    transition: transform 1s;
}
.mainNavButton:hover{
    transform: scale(1.5);
}