/* Values */
@font-face {
    font-family: Cardinal;
    src: url(../fonts/Cardinal.ttf);
}
@font-face {
    font-family: Camelot;
    src: url(../fonts/CamelotDeNada.ttf);
}
@font-face {
    font-family: Charlemagne;
    src: url(../fonts/CharlemagneStd-Bold.otf);
}
@font-face {
    font-family: Constantia;
    src: url(../fonts/constan.ttf);
}
@font-face {
    font-family: Constantia-bold;
    src: url(../fonts/constanb.ttf);
}
@font-face {
    font-family: Roman;
    src: url(../fonts/TT1139M_.TTF);
}

/*
** Page Styling
*/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Constantia", serif;
}

.container-fluid {
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}


/*
* Load Screen
*/
#loadScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: #110000;
    background-image: url("../img/loadScreen.jpg"); /* https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjwyaHyxKTOAhWGWj4KHV_rAxYQjBwIBA&url=http%3A%2F%2Fwallpaperstock.net%2Fmedieval-2%253A-total-war-wallpapers_19438_1366x768.jpg&psig=AFQjCNFTyDLf42VZZzX3Xsv2nPjxnTgqQw&ust=1470289368406707 */
    background-size: cover;
    background-repeat: no-repeat;
}

/*
** Primary Map Styling
*/
.primaryMapContainer {
    height: 80vh;
    width: 100%;
    position: relative;
    padding: 0;
    background-color: #333333;
}

#primaryMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.primaryMapRegion {
    fill: red;
    opacity: .5;
    stroke: black;
}

.panTrigger {
    position: absolute;
    z-index: 2;
    padding: 0;
    background-color: #cccccc;
    opacity: 0.2;
}
#panUpTrigger {
    height: 14px;
    width: 100vw;
    top: 0;
    left: 0;
}
#panRightTrigger {
    height: 80vh;
    width: 14px;
    top: 0;
    right: 0;
}
#panDownTrigger {
    height: 14px;
    width: 100vw;
    bottom: 0;
    left:0;
}
#panLeftTrigger {
    height: 80vh;
    width: 14px;
    top:0;
    left:0;
}



/*
** Primary Map Region Styling
*/
.primaryMapRegion{
    opacity: 0.5;
}
.conquered {
   /* opacity: 0;*/
}
.transitioned {
    /* opacity: 0;*/
}
.altaian {
    fill: #985906;
    border: 3px groove #985906;
}
.uralian {
    fill: #ffffff;
    border: 3px groove #ffffff;
}
.celtic {
    fill: #ff9933;
    border: 3px groove #ff9933;
}
.classical {
    fill: #ff6600;
    border: 3px groove #ff6600;
}
.iranian {
    fill: #ffff00;
    border: 3px groove #ffff00;
}
.slavic {
    fill: #000000;
    stroke: #666666;
    border: 3px groove #000000;
}
.teutonic {
    fill: #b40000;
    border: 3px groove #b40000;
}
.westernEuropean {
    fill: #ff1301;
    border: 3px groove #ff1301;
}
.elamoDravidian {
    fill: #92D050;
    border: 3px groove #92D050;
}
.afroAsiatic {
    fill: #016704;
    border: 3px groove #016704;
}
.nigerCongolese {
    fill: #000000;
    border: 3px groove #b40000;
}
.bantu {
    fill: #000000;
    border: 3px groove #b40000;
}
.sinoThai {
    fill: #000000;
    border: 3px groove #b40000;
}
.austronesian {
    fill: #000000;
    border: 3px groove #b40000;
}
.papuanAustralian {
    fill: #000000;
    border: 3px groove #b40000;
}
.americanIndian {
    fill: #000000;
    border: 3px groove #b40000;
}
.misc {
    fill: #808080;
    border: 3px groove #808080;
}


/*
** Primary Map Label Styling
*/
.regionLabel{
    font-family: "Roman", serif;
    text-shadow: 0 0 2px rgba(0,0,0,0.5),
    1px 1px 1px #999999,
    2px 2px 2px rgba(0,0,0,0.25),
    3px 3px 4px rgba(0,0,0,0.2),
    4px 4px 5px rgba(0,0,0,1);
}



/*
** Command Box Styling
*/
#commandBox {
    height: 20vh;
    width: 100%;
    border-top: 10px groove saddlebrown;
    border-left: 2px groove saddlebrown;
    border-right: 2px groove saddlebrown;
    border-bottom: 2px groove saddlebrown;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    position: relative;
    z-index: 4;
    box-shadow: 0 0 20px black;
    color: #ddddbb;

}
.commandBoxElements {
    height: 100%;
}


#miniMapColumn {
    padding: 15px 0 5px 0;
}
#miniMap {
    z-index: 5;
    fill: #ffffbb;
}


#primaryCommand {
    border-left: 5px groove saddlebrown;
    border-right: 5px groove saddlebrown;
}
#selectedRegionDescription {
    height: 10vh;
    overflow: auto;
}
#selectedRegionName {
    margin: 2vh 0 1vh 0;
    font-family: "Charlemagne", serif;
    font-size: 2vh;
}



#grandEraLabel {
    margin: 1vh 0 1vh 0;
    font-family: "Charlemagne", serif;
    font-size: 3vh;
    background: radial-gradient(#aaaaaa, #333333, #dddddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nationRankingHeader {
    margin: 0 0 0.5vh 0;
    font-size: 1.5vh;
    font-family: "Constantia-bold", serif;
    background: radial-gradient(#ddddbb, #bbbbbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nationRankingList {
    margin: 0 0 0.5vh 0;
    font-size: 1.5vh;
}






/*
** Summary Box Styling
*/
#eraSummaryBox {
    position: absolute;
    border-top: 8px groove saddlebrown;
    border-left: 8px groove saddlebrown;
    border-right: 8px groove saddlebrown;
    border-bottom: 0;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    box-shadow: 0 0 20px black;
    z-index: 3;
}
#eraSummaryBoxToggle {
    position: relative;
    top: -23px;
    height: 15px;
    width: 40px;
    border-top: 1px groove saddlebrown;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    border-bottom: 0;
    background-color: #2d1606;
    background: linear-gradient(#100600, #2d1606);
    box-shadow: 0 0 20px black;
    z-index: 3;
    text-align: center;
}
#eraSummary{
    margin: 0 10px 5px 10px;
    color: #ddddbb;
    height: 50px;
    width: 50px;
    overflow: auto;
}

#characterSummaryBox {
    position: absolute;
    border-top: 5px groove saddlebrown;
    border-left: 5px groove saddlebrown;
    border-right: 0;
    border-bottom: 5px groove saddlebrown;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    box-shadow: 0 0 20px black;
    z-index: 3;
}
#characterSummaryContainer {
    height: 50px;
    width: 50px;
    overflow: auto;
}
#characterSummaryBoxToggle {
    position: relative;
    left: -17px;
    height: 40px;
    width: 15px;
    border-top: 1px groove saddlebrown;
    border-left: 1px groove saddlebrown;
    border-right: 0;
    border-bottom: 1px groove saddlebrown;
    background-color: #2d1606;
    background: linear-gradient(to right, #100600, #2d1606);
    box-shadow: 0 0 20px black;
    z-index: 3;
}
.characterThumbnailBox {
    position: relative;


}.characterThumbnail {
     background-color: black;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }
.characterLabel {
    text-align: center;
    color: #ddddbb;
}



/*
** Other Styling
*/
#eraDate {
    position: absolute;
    top: 3vh;
    left: 3vh;
    font-family: "Cardinal", serif;
    font-size: 300%;
    color: #DAA520;
    text-shadow: 0 0 2px rgba(0,0,0,0.5),
        1px 2px 3px #CA9510,
        2px 4px 4px rgba(0,0,0,0.25),
        3px 6px 6px rgba(0,0,0,0.2),
        4px 8px 8px rgba(0,0,0,1);
    z-index: 5;
}


.eventNotification{
    position: absolute;
    background-color: black;
    border: 4px groove grey;
    z-index: 4;
}


#detailsWindow {
    background-color: palegoldenrod;
    background-image: url("../img/eventWindowBackground.jpg"); /* Personal Creation */
    background-size: cover;
}
#detailsWindowClose {
    text-align: right;
}
#detailsWindowCloseButton {
    height: 5vh;
    width: 5vh;
}
#detailsWindowImage {
    margin: 0 12% 25px 12%;
    background-color: #0f0703;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#detailsWindowTitle {
    margin: 0 10% 5px 10%;
    text-align: center;
    font-family: "Cardinal", serif;
    font-size: xx-large;
}
#detailsWindowSubTitle {
    margin: 0 10% 10px 10%;
    text-align: center;
    font-family: "Charlemagne", serif;
    font-size: large;
}
#detailsWindowDescription {
    margin: 0 10% 0 10%;
    text-align: center;
    font-size: large;
}
#detailsWindowFooter {
    text-align: right;
    font-family: "Camelot", serif;
    font-size: large;
}
#detailsWindowGoToRegion {
    height: 5vh;
    width: 5vh;
}


